body {
    margin: 0;
}
header {
    background: #FFE600;
        display: flex;
        width: 100vw;
        justify-content: flex-start;
        align-items: center;
        
}
header img {
    width: 100px;
    height: 100px;
}