body {
    background: #EEEEEE;
    margin: 0; 
    font-family: "Montserrat", sans-serif;
}
header {
    background: #FFE600;
        display: flex;
        width: 100vw;
        height: 55px;
        justify-content: flex-start;
        align-items: center;
        
        
}
header img {
    width: 100px;
    height: 100px;
}
form {
    background: white;
    position: relative;
    top: 70px;
    width: 600px;
    height: 450px;
    margin: 0 auto;
    transform: translateX(px);
    border-radius: 7px;
}
form h1{
    font-weight: 530;
    font-size: 25px;
    position: relative;
    top: 60px;
    text-align: center;
}
.opcao {
    display: flex;
    align-items: center;
    width: 450px;
    height: 35px;
    margin: 0 auto;
    position: relative;
    top: 70px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.116);

}
.opcao h2 {
    font-weight: 100;
    font-size: 16px;
    position: relative;
    top: 10px;
}
.opcao p {
    color: #666666;
    position: relative;
    top: -25;
}
.opcao button {
    margin-left: auto;
    background-color:  #3483FA;
    border-radius: 5px;
    color: white;
    width: 110px;
    height: 35px;
}